*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cascadia Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  background: #e5e5e5;
  height: 100vh;
  width: 100vw;
}
.main_wrapper{
  padding: 100px 0;
  width: 85%;
  margin: 0 auto;
}
.cards_wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap: 2rem;
}
